$os-colors: (
    blue: #002469,
    deep-green: #0c9372,
    gold: #fdbd3e,
    gray: #5e6162,
    green: #63a524,
    light-blue: #0dc0dc,
    light-gray: #959595,
    medium-blue: #007297,
    orange: #f36b32,
    red: #c22032,
    yellow: #f4d019,
);

$text-colors: (
    helper: #6f6f6f,
    link-hover: #0064a0,
    link: #027eb5,
    normal: #424242,
    white: #fff,
    footer-header: #9a9a9b,
    footer: #d5d5d5,
    button-bar: #5e6062
);

$ui-colors: (
    page-bg: #f1f1f1,
    form-bg: #f5f5f5,
    form-border: #d5d5d5,
    error-fg: #c22032,
    error-border: #e298a0,
    error-bg: #f8e8ea,
    primary: map-get($os-colors, orange),
    primary-hover: #e96128,
    primary-active: #df571e,
    secondary: map-get($os-colors, light-gray),
    secondary-hover: #8b8b8b,
    secondary-active: #818181,
    default: #f1f1f1,
    default-hover: #e5e5e5,
    default-active: #dbdbdb,
    white: #fff,
    footer-bg: #424242
);

@function get-color($map, $key) {
    @if map-has-key($map, $key) {
        @return map-get($map, $key);
    }
    @warn 'Unknown `#{$key}` in #{$map}';
    @return null;
}

@function os-color($color) {
    @return get-color($os-colors, $color);
}

@function text-color($color) {
    @return get-color($text-colors, $color);
}

@function ui-color($color) {
    @return get-color($ui-colors, $color);
}

@each $name, $spec in $os-colors {
    .bg-#{$name} {
        background-color: $spec;
        @if index(light-blue gold yellow, $name) {
            color: text-color(normal);
        } @else {
            color: text-color(white);
        }
    }
}
