@import 'typography';
@import 'colors';
@import 'layout';

html {
    // This resets rem from 16px to 10px
    font-size: 62.5%;
}

body {
    @extend %text-body-regular;
    background-color: ui-color(page-bg);
    color: text-color(normal);
    font-family: 'Neue Helvetica W01', sans-serif;
    margin: 0;
}

// Headings
//
// Each heading size has a placeholder selector, so you can use, e.g.,
// <code>
// @extend %text-h1;
// </code>
// to apply h1-style font to some other element type.
//
// Markup:
// <div class="{{modifier_class}}">
//     <div class="hero"><h1>H1 in a hero (%text-hero-h1)</h1></div>
//     <h1>H1 heading (%text-h1)</h1>
//     <h2>H2 heading (%text-h2)</h2>
//     <h3>H3 heading (%text-h3)</h3>
//     <h4>H4 heading (%text-h4)</h4>
// </div>
//
// .tutor - if enclosed in a `.tutor`, uses OpenStax Tutor typography. Recommend
// putting this class on the `body` element.
//
// Styleguide: Typography.Headings

h1,
h2,
h3,
h4,
p,
form,
.form,
%block-item {
    display: block;
    margin: 0 0 1rem;
}

h1 {
    @extend %text-h1;
}

.hero h1 {
    @extend %text-hero-h1;
}

h2 {
    @extend %text-h2;
    margin-top: 2rem;
}

h3 {
    @extend %text-h3;
    margin-top: 1.5rem;
}

h4 {
    @extend %text-h4;
    margin-top: 1rem;
}

// Copy
//
// Markup:
// <div class="{{modifier_class}}">This is some copy</div>
//
// .copy-large - larger copy
//
// Styleguide: Typography.Copy

.copy-large {
    @extend %text-body-large;
}

// Links
//
// Text shades slightly in `:hover` and `:active` states.
//
// Markup:
// <a href="#">Link text</a>
//
// Styleguide: Typography.Links

a {
    color: text-color(link);
    text-decoration: underline;

    &:hover,
    &:active {
        color: text-color(link-hover);
    }
}

@mixin button-behavior {
    @extend %center;
    cursor: default;
    display: inline-flex;
    user-select: none;
}

$form-border-width: 0.1rem;

@mixin form-border {
    border: $form-border-width solid ui-color(form-border);
}

// Buttons
//
// Subtle color changes on hover, focus, and active states
//
// Markup:
// <button class="{{modifier_class}}">Native button</button>
// <input type="button" class="{{modifier_class}}" value="input[type='button']"/>
// <div class="btn {{modifier_class}}">Anything styled like a button</div>
//
// .small - Not as tall
// .wide - The width of the enclosing container
// .primary - Colored to stand out
// .secondary - Colored to stand out a bit less than primary
//
// Styleguide: Form Elements.Buttons

.btn {
    @include button-behavior;
}

button,
[type="button"],
.btn {
    @extend %text-body-regular;
    @include form-border;
    background-color: ui-color(default);
    border-radius: 0.2rem;
    color: text-color(normal);
    font-weight: normal;
    height: 5rem;
    margin: $tight-margin;
    padding: 0 3rem;

    &:hover,
    &:focus {
        background-color: ui-color(default-hover);
    }

    &:active {
        background-color: ui-color(default-active);
    }

    &.small {
        @extend %text-helper-label;
        height: 3rem;
        padding: 0 2rem;
    }

    &.wide {
        padding: 0;
        width: calc(100% - #{$tight-margin});
    }

    @each $ui-type in primary, secondary {
        &.#{$ui-type} {
            background-color: ui-color($ui-type);
            border: 0;
            color: text-color(white);
            font-weight: bold;

            &:hover,
            &:focus {
                background-color: ui-color(#{$ui-type}-hover);
            }

            &:active {
                background-color: ui-color(#{$ui-type}-active);
            }
        }
    }
}

// Form
//
// Forms get a slightly different background color and a healthy bit of padding to
// set them off from other containers.
//
// Markup:
// <form>A form container</form>
// <div class="form">A container styled the same</div>
//
// Styleguide: Form Elements.Form
form,
.form {
    background-color: ui-color(form-bg);
    padding: 4rem;
}

label {
    @extend %text-helper-label;
    color: text-color(helper);
    width: 100%;

    > * {
        display: block;
    }
}

input:not([type="button"]) {
    @extend %text-body-regular;
    @include form-border;
    background-color: ui-color(white);
    color: text-color(normal);
    height: 5rem;
    padding: 0 $normal-margin;
    width: calc(100% - #{2 * $normal-margin + 2 * $form-border-width});

    &:focus {
        border: thin solid os-color(light-blue);
        box-shadow: 0 0 4px 0 rgba(os-color(light-blue), 0.5);
        outline: none;
    }

    &::placeholder {
        color: text-color(helper);
    }

    &:invalid {
        background-color: ui-color(error-bg);
        border: thin solid ui-color(error-border);
        color: ui-color(error-fg);

        ~ .error-message {
            @extend %text-helper-label;
            color: ui-color(error-fg);
            display: block;
        }
    }

    ~ .error-message {
        display: none;
    }
}

// Button Bar
//
// Markup:
// <div class="button-bar">
//     <button>Option 1</button>
//     <button aria-selected="true">Option 2</button>
//     <div class="btn">Option 3</div>
//     <input type="button" value="Option 4">
// </div>
//
// Styleguide: Form Elements.Button Bar

.button-bar {
    @include form-border;
    align-items: baseline;
    border-radius: 0.2rem;
    display: inline-flex;
    height: 5rem;
    padding: 0;

    > * {
        background-color: ui-color(white);
        border: 0;
        border-radius: 0;
        color: text-color(button-bar);
        height: 100%;
        margin: 0;
        padding: 0 3rem;

        &:focus {
            z-index: 1;
        }

        &:not(:last-child) {
            border-right: thin solid ui-color(form-border);
        }

        &:hover {
            background-color: ui-color(form-bg);
        }

        &[aria-selected="true"] {
            background-color: ui-color(default-hover);
            color: text-color(normal);
        }
    }

    > :not(button):not(input) {
        // Compensate for anomaly in how buttons vs non-buttons are rendered
        transform: translateY(-0.1rem);
    }
}
