@import '../headers';

// Headings
//
// Each heading size has a placeholder selector, so you can use, e.g.,
// <code>
// @extend %text-h1;
// </code>
// to apply h1-style font to some other element type.
//
// Markup:
// <div class="{{modifier_class}}">
//     <div class="hero"><h1>H1 in a hero (%text-hero-h1)</h1></div>
//     <h1>H1 heading (%text-h1)</h1>
//     <h2>H2 heading (%text-h2)</h2>
//     <h3>H3 heading (%text-h3)</h3>
//     <h4>H4 heading (%text-h4)</h4>
// </div>
//
// .tutor - if enclosed in a `.tutor`, uses OpenStax Tutor typography. Recommend
// putting this class on the `body` element.
//
// Styleguide: Typography.Headings

h1 {
    @extend %text-h1;
}

.hero h1 {
    @extend %text-hero-h1;
}

h2 {
    @extend %text-h2;
    margin-top: 2rem;
}

h3 {
    @extend %text-h3;
    margin-top: 1.5rem;
}

h4 {
    @extend %text-h4;
    margin-top: 1rem;
}

.tutor {
    @extend %tutor;
}
