$normal-margin: 1.5rem;
$tight-margin: 0.5rem;
$content-max: 120rem;
$text-content-max: 80rem;

// Screen widths must be in px because @media queries assume 1rem = 16px
$wide-screen-min: 1400px;
$phone-max: 480px;
$tablet-max: 960px;

// Includes the given (min) width
@mixin width-up-to($width) {
    @media (max-width: $width) {
        @content;
    }
}

// Excludes the given (max) width
@mixin wider-than($width) {
    @media (min-width: $width + 1) {
        @content;
    }
}

// Includes the max width, excludes the min width
@mixin width-between($width1, $width2) {
    @media (min-width: $width1 + 1) and (max-width: $width2) {
        @content;
    }
}

// .basis-# defines a cell in the row
// At phone size, all are 100% width
// At tablet, .basis-2 thru .basis-6 are 50%, others still 100%
// At desktop, .basis-n is n/12 of the row
@mixin bases-with-margin($margin) {
    @for $b from 2 through 10 {
        .basis-#{$b} {
            flex: 0 1 100%;

            @if ($b < 7) {
                @include wider-than($phone-max) {
                    flex-basis: calc(50% - #{$margin});
                }
            }

            @include wider-than($tablet-max) {
                flex-basis: calc(#{100% * $b / 12} - #{2 * $margin});
            }

            > :first-child:last-child {
                margin-left: 0;
                margin-right: 0;
                width: 100%;
            }
        }
    }
}

%block-item {
    display: block;
    margin: 0 0 1rem;
}

%content {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(#{$content-max} - #{2 * $normal-margin});
    width: 100%;
    padding-left: $normal-margin;
    padding-right: $normal-margin;
}

%text-content {
    @extend %content;

    max-width: calc(#{$text-content-max} - #{2 * $normal-margin});
}

// Do not have multiple layers of padding
%content %content {
    padding-left: 0;
    padding-right: 0;
}




// A container that centers content horizontally and vertically
%center {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
