@import 'typography';
@import 'colors';
@import 'layout';

$form-border-width: 0.1rem;

@mixin form-border {
    border: $form-border-width solid ui-color(form-border);
}

@mixin button($type: default) {
    @include center;
    @include set-font(body-regular);

    @if ($type == default) {
        @include form-border;

        border-radius: 0.2rem;
        color: text-color(normal);
        font-weight: normal;
    }
    @else {
        border: 0;
        color: text-color(white);
        font-weight: bold;
    }

    background-color: ui-color($type);
    box-sizing: border-box;
    cursor: default;
    height: $form-element-height;
    margin: $tight-margin;
    padding: 0 3rem;
    text-decoration: none;
    user-select: none;
    width: auto;

    &:first-child {
        margin-left: 0;
    }

    &:hover,
    &:focus {
        background-color: ui-color(#{$type}-hover);
    }

    &:active {
        background-color: ui-color(#{$type}-active);
    }

    &.small {
        @include set-font(helper-label);
        height: 3rem;
        padding: 0 2rem;
    }

    &.medium {
        height: 4rem;
    }

    &.wide {
        padding: 0;
        width: calc(100% - #{$tight-margin});
    }
}

%button {
    @include button();
}

%button%primary {
    @include button(primary);
}

%button%secondary {
    @include button(secondary);
}

@mixin button-bar() {
    @include form-border;

    align-items: baseline;
    border-radius: 0.2rem;
    display: inline-flex;
    height: $form-element-height;
    padding: 0;

    > * {
        @include button();

        background-color: ui-color(white);
        border: 0;
        color: text-color(button-bar);
        font-family: inherit;
        height: 100%;
        margin: 0;
        max-height: 100%;
        white-space: nowrap;

        &:focus {
            z-index: 1;
        }

        &:not(:last-child) {
            border-right: thin solid ui-color(form-border);
        }

        &:hover {
            background-color: ui-color(form-bg);
        }
    }

}

@mixin button-bar-selected() {
    background-color: ui-color(default-hover);
    color: text-color(normal);
}

%button-bar {

    @include button-bar();

    > %selected {
        @include button-bar-selected();
    }
}

%tab-group {
    border-bottom: thin solid ui-color(form-border);
    display: flex;
    justify-content: flex-start;
    padding: 0;
    width: 100%;

    %tab {
        display: inline;
        padding: 0.4rem $normal-margin;

        &:hover,
        &:active,
        &.active {
            border-bottom: 0.4rem solid os-color(green);
        }
    }
}

%control-group {
    display: block;
    height: $form-element-height;
    margin: 0;
    position: relative;
    width: 100%;

    %field-label,
    %invalid-message {
        position: absolute;
        top: 0;
        transform: translateY(-104%);
        width: 100%;
    }

    %invalid-message {
        bottom: 0;
        transform: translateY(100%);
    }
}

@mixin link() {
    color: text-color(link);
    text-decoration: underline;

    &:hover,
    &:active {
        color: text-color(link-hover);
    }
}

%message-box {
    align-items: center;
    background-color: ui-color(success-bg);
    border: thin solid ui-color(success-border);
    color: ui-color(success-fg);
    display: flex;
    height: $form-element-height;
    margin: $normal-margin 0;
    padding: 0 $normal-margin;
    width: 100%;

    &%error {
        background-color: ui-color(error-bg);
        border-color: ui-color(error-border);
        color: ui-color(error-fg);
    }
}

%modal {
    border: thin solid ui-color(form-border);
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
    display: block;
    flex-basis: 100%;
    max-width: 54rem;
    z-index: 2;

    .heading {
        @extend %text-h4;
        background-color: ui-color(default);
        margin-bottom: $normal-margin;
        min-height: 1.5rem; // 7.5 - 6 for padding
        padding: 2 * $normal-margin;

        .close-icon {
            font-size: 2.2rem;
            float: right;
        }

        ~ * {
            padding: $normal-margin (2 * $normal-margin);
            margin: 0;
        }
    }

    &.error > .heading {
        background-color: ui-color(error-bg);
        color: ui-color(error-fg);

        .error-icon {
            margin-right: 1rem;
        }
    }
}
