@import 'typography';
@import 'colors';
@import 'layout';

$form-border-width: 0.1rem;

@mixin form-border {
    border: $form-border-width solid ui-color(form-border);
}

%button {
    @extend %text-body-regular;
    @include form-border;
    background-color: ui-color(default);
    border-radius: 0.2rem;
    color: text-color(normal);
    font-weight: normal;
    height: $form-element-height;
    margin: $tight-margin;
    padding: 0 3rem;

    &:hover,
    &:focus {
        background-color: ui-color(default-hover);
    }

    &:active {
        background-color: ui-color(default-active);
    }

    &.small {
        @extend %text-helper-label;
        height: 3rem;
        padding: 0 2rem;
    }

    &.wide {
        padding: 0;
        width: calc(100% - #{$tight-margin});
    }

    @each $ui-type in primary, secondary {
        &%#{$ui-type} {
            background-color: ui-color($ui-type);
            border: 0;
            color: text-color(white);
            font-weight: bold;

            &:hover,
            &:focus {
                background-color: ui-color(#{$ui-type}-hover);
            }

            &:active {
                background-color: ui-color(#{$ui-type}-active);
            }
        }
    }
}
