$font-specs: (
    hero-h1: 6rem 6rem true bold,
    h1: 4.8rem 5rem true bold,
    h2: 3.6rem 4rem true bold,
    h3: 2.4rem 3rem true bold,
    h4: 1.8rem 2.5rem true bold,
    body-large: 1.8rem 3rem,
    body-regular: 1.6rem 2.5rem,
    helper-label: 1.4rem 2rem
);

// Create %text-hero-h1, etc placeholders
@each $name, $spec in $font-specs {
    %text-#{$name} {
        font-size: nth($spec, 1);
        line-height: nth($spec, 2);
        @if (length($spec) > 2 and nth($spec, 3)) {
            letter-spacing: -0.04 * nth($spec, 1);
        }
        @if (length($spec) > 3) {
            font-weight: nth($spec, 4);
        }
    }
}

$tutor-font-specs: (
    hero-h1: 4.8rem 5rem,
    h1: 3.6rem 4rem,
    h2: 2.4rem 3rem,
    h3: 1.4rem 2.5rem,
    h4: 1.6rem 2.5rem
);

// Create .tutor placeholders
@each $name, $spec in $tutor-font-specs {
    %tutor %text-#{$name} {
        font-size: nth($spec, 1);
        font-weight: bold;
        line-height: nth($spec, 2);
        letter-spacing: -0.04 * nth($spec, 1);
    }
}

%tutor %text-h3 {
    font-weight: normal;
    letter-spacing: 0;
    text-transform: uppercase;
}
