$font-specs: (
    hero-h1: 6rem 6rem true,
    h1: 4.8rem 5rem true,
    h2: 3.6rem 4rem true,
    h3: 2.4rem 3rem true,
    h4: 1.8rem 2.5rem true,
    body-large: 1.8rem 3rem,
    body-regular: 1.6rem 2.5rem,
    helper-label: 1.4rem 2rem
);

@mixin set-font($name) {
    $spec: map-get($font-specs, $name);
    font-size: nth($spec, 1);
    line-height: nth($spec, 2);
    @if (length($spec) > 2 and nth($spec, 3)) {
        font-weight: bold;
        letter-spacing: -0.04 * nth($spec, 1);
    }
    @else {
        font-weight: normal;
        letter-spacing: normal;
    }
}

// Create %text-hero-h1, etc placeholders
@each $name, $spec in $font-specs {
    %text-#{$name} {
        @include set-font($name);
    }
}

$tutor-font-specs: (
    hero-h1: 4.8rem 5rem,
    h1: 3.6rem 4rem,
    h2: 2.4rem 3rem,
    h3: 1.4rem 2.5rem,
    h4: 1.6rem 2.5rem
);

@mixin set-tutor-font($name) {
    @if (map-has-key($tutor-font-specs, $name)) {
        $spec: map-get($tutor-font-specs, $name);
        font-size: nth($spec, 1);
        font-weight: bold;
        line-height: nth($spec, 2);
        letter-spacing: -0.04 * nth($spec, 1);

        @if ($name == h3) {
            font-weight: normal;
            letter-spacing: 0;
            text-transform: uppercase;
        }
    }
    @else {
        @include set-font($name);
    }
}

// Create .tutor placeholders
@each $name, $spec in $tutor-font-specs {
    %tutor %text-#{$name} {
        @include set-tutor-font($name);
    }
}
